
.page-holder {
    min-height: 100vh;
  }
  
  .bg-cover {
    background-size: cover !important;
  }
#logo{
    display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
   width: 18%;
}
marquee{
    height: 80px;
    width: 100% ;
    font-style: italic;
    font-family: Helvetica;
    font-weight: 1600;
    font-size: large;
    background-color:grey;
    opacity:1;
    text-decoration:black;
    padding: 5%;
}
.displayme container1{
  font-size: larger;
  text-decoration: black;
  background-color: lightcoral;
}
.bottom {
    background-color:#3693ff;
    font-size: 20px;
  }
.bottom p {
    color: white;
  }
  footer {
    padding: 0.2rem;
  }
  footer p {
    text-align: center;
  }
  #socialmedia {
    text-align: center;
  }
