
.page-holder {
    min-height: 100vh;
  }
  
  .bg-cover {
    background-size: cover !important;
  }
#logo{
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 15%;
}
marquee{
    height: 80px;
    width: 100% ;
    font-style: italic;
    font-family: Helvetica;
    font-weight: 1600;
    font-size: large;
    background-color:blueviolet;
    opacity:1;
    text-decoration:black;
    padding: 5%;
}
.bottom {
    background-color:#3693ff;
    font-size: 20px;
  }
  p {
    color: whitesmoke;
  }
  footer {
    padding: 0.2rem;
  }
  footer p {
    text-align: center;
  }
  #socialmedia {
    text-align: center;
  }
